/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.flex-even {
  display: flex;
  justify-content: space-evenly;
}
.media-query-size {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 100%;
  margin: 0 auto;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-bottom: 4rem;
  background: black;
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
header nav a {
  font-size: 1.8rem;
  color: black;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin: 30px 30px;
  color: white;
}
.container .title-img-card {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid black;
  width: 90%;
  margin: 30px 0px;
  margin-bottom: 50px;
  margin: auto;
}
@media (max-width: 500px) {
  .container .title-img-card {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.container .title-img-card h1 {
  font-size: 70px;
}
@media (max-width: 500px) {
  .container .title-img-card h1 {
    font-size: 40px;
  }
}
.container .title-img-card address {
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 1rem;
}
.container .title-img-card address h3 {
  margin: 2rem 0rem;
  font-size: 1.5rem;
}
.container .title-img-card .img-div {
  width: 30%;
}
@media (max-width: 500px) {
  .container .title-img-card .img-div {
    width: 80%;
    margin: 0 auto;
  }
}
.container .title-img-card .img-div img {
  max-width: 300px;
  margin: 5px 0px;
  border: 3px solid black;
}
.container .title-img-card .title-card-content {
  width: 40%;
}
@media (max-width: 500px) {
  .container .title-img-card .title-card-content {
    width: 80%;
    margin: 0 auto;
  }
}
.middle-content {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.middle-content .mid-item {
  width: 30%;
  margin: 30px;
}
.middle-content .mid-item h2 {
  font-size: 2.25rem;
  margin-bottom: 2rem;
}
.middle-content .mid-item p {
  line-height: 1.5rem;
}
.middle-content .mid-item ul {
  line-height: 2.5rem;
}
@media (max-width: 500px) {
  .middle-content .mid-item {
    width: 80%;
  }
}
footer .copywright {
  width: 100%;
  height: 15%;
  background: black;
  text-align: center;
  color: white;
  margin-top: 35px;
}
