// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

// Resume code starts here

// Variables
@main-color: black;
@content-font-size: 1rem;
@sub-header-size: 1.5rem;
@title-font-size: 1.8rem;
@h1-font: 2.25rem;

// Mixins
.flex-even {
	display: flex;
	justify-content: space-evenly;
}
.media-query-size {
	width: 100%;
	display: flex;
	flex-direction: column;
}


.container {
	width: 100%;
	margin: 0 auto;
}
// Header

header nav {
	width: 100%;
	.flex-even;
	flex-direction: row;
	margin-bottom: 4rem;
	background: @main-color;

	@media(max-width: 500px) {
		width: 100%;
		display: flex;
		flex-direction: column;
	  }

	a {
		font-size: @title-font-size;
		color: @main-color;
		text-align: center;
		justify-content: center;
		text-decoration: none;
		margin: 30px 30px;
		color: white;
	}
}
// intro content

.container .title-img-card {
	.flex-even;
	border: 2px solid black;
	width: 90%;
	margin: 30px 0px;
	margin-bottom: 50px;
	margin: auto;
	@media(max-width: 500px) {
		display: inline-block;
		flex-direction: column;
	  }
	h1 {
		font-size: 70px;

		@media(max-width: 500px) {
			font-size: 40px;
		  }
	}
	address {
		font-size: 1.5rem;
		justify-content: center;
		margin-top: 1rem;
		h3 {
			margin: 2rem 0rem;
			font-size: @sub-header-size;
		}
	}

	.img-div {
		width: 30%;
		img {
			max-width: 300px;
			margin: 5px 0px;
			border: 3px solid black;
		}
	}

	.title-card-content {
		width: 40%;
	}
}

// middle content

.middle-content {
	width: 90%;
	.flex-even;
	margin: auto;
	margin-bottom: 50px;
	

	@media (max-width: 500px) {
		display: flex;
		flex-direction: column;
		
	  }
	
	.mid-item {
		width: 30%;
		margin: 30px;
		h2 {
			font-size: @h1-font;
			margin-bottom: 2rem;
		}
		p {
			line-height: 1.5rem;
		}
		ul {
			line-height: 2.5rem;
	}	
}
}

// footer

footer .copywright {
	width: 100%;
	height: 15%;
	background: @main-color;
	text-align: center;
	color: white;
	margin-top: 35px;
}